<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GALLERY
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>
    <center>
    <br>
    <img src="../../assets/jhon/j1.jpg" >
    <img src="../../assets/jhon/j2.jpg" >
    <img src="../../assets/jhon/j3.jpg" >
    <img src="../../assets/jhon/j4.jpg" >
    <img src="../../assets/jhon/j6.jpg" >
    <br>
    <img src="../../assets/jhon/j7.jpg" >
    <img src="../../assets/jhon/j8.jpg" >
    <img src="../../assets/jhon/j9.jpg" >
    <img src="../../assets/jhon/j10.jpg" >
    <img src="../../assets/jhon/j11.jpg" >
    <br>
    <img src="../../assets/jhon/j12.jpg" >
    <img src="../../assets/jhon/j13.jpg" >
    <img src="../../assets/jhon/j14.jpg" >
    <img src="../../assets/jhon/j15.jpg" >
    <img src="../../assets/jhon/j16.jpg" >
  </center>
</div>
</ion-content>
