.image img{
    height: 160px;
    width: 150px;
    box-sizing: border-box;
    position: static;
}
.image{
    background-color: salmon;
}
ion-title{
    font-weight: bold;
    font-family: Arial Black;
    font-size: 30px;
}
ion-toolbar{
    color: gray;
}
