ion-title{
    font-weight: bold;
    font-family: Arial Black;
    font-size: 30px;
}
ion-toolbar{
    color: gray;
}
p{
    font-size: 20px;
}
ion-header{
    color: rgb(14, 56, 56);
}
.prof img{
    width: 160px;
    height: 150px;
    border-radius: 10px;
    top: 5x;
    border: 2px solid rgb(39, 34, 51);
}
.prof{
    background-color: salmon;
}