<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PROFILE
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="prof">
    <br>
    <center><img src="../../assets/jhon/j5.jpeg"></center>
    <center><h2><strong>Jhon Charls Panis</strong></h2>
    <p><strong>Lives in Brgy. Minuhang Barugo, Leyte</strong></p> 
    <p><strong>Gender: Male</strong></p>
    <p><strong>Status: Single</strong></p>
    <p><strong>Age: 20</strong></p>
    <p><strong>Date of Birth: June 24, 2000</strong></p>
    <p><strong>Studies Bachelor of Science in Information Technology at Eastern Visayas State University - Carigara Campus</strong></p>
    <br><br>
  </center>
  </div>
</ion-content>
