ion-title{
    font-weight: bold;
    font-family: Arial black;
    font-size: 30px;
}
ion-toolbar{
    color: gray;
}
.contact img{
    height: 70px;
    width: 70px;
    box-sizing: border-box;
    position: static;
}
.contact{
    background-color: salmon;
    font-family: georgia;
    font-size: 25px;
}